* {
  margin: 0;
    padding: 0;
    }
      //inicio de pagina

      .container-text-2 {
        display: flex;
        background-color: burlywood;
        color: white;
        text-align:center;
                 }          
                 
      .container-text	{
     padding-top:10px;
     display: flex;
     flex-direction: column;
     font-size: 25px;
     text-decoration: none;
     text-align:center;
 
  
      h1{
       font-family:cursive;
      color: rgb(73, 194, 216);
      background-image:url("images/background-4.jpg");
      background-position-x: center;
      background-position-y: center;
      background-size: 100%;
      background-repeat: no-repeat;

      }
       }
       

//final de inicio

  //inicio hamburgericon
  .menu-container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    align-items: center;
    background: white;
    height: 60px;
    background-color: wheat;
    }
  
  .menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  a {
  padding-top: 5px;
  font-size: 30px;
  color: rgb(148, 106, 52);  
  }
  }

//inicio de header
.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  width: 100%;
  height: 200px;
 background-image: url("images/Logo.png");
 background-position-x: right;
 background-position-y: center;
 background-size: 20%;
 background-repeat: no-repeat;

 border-top: 3px solid rgb(0,0,0);
 border-bottom: 3px solid rgb(0,0,0);
   
.header-text {
  padding: 20px 0 0 50px;
  .header-page-title {
    width: 60px;
    height: 70px;
   display: flex;
   font-family: sans-serif;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgb(28, 184, 163);
    border-radius: 10px;
    box-shadow: 2px 2px 11px -1px black;
    color: rgb(28, 184, 163);
    margin-bottom: 20px;
    &:hover {
      transform: scale(0.97);
    }


   }
   .header-page-description{
     width: 550px;
     height: 40px;
     font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
     background-color: white;
     border: 1px solid rgb(28, 184, 163);
     border-radius: 10px;
     box-shadow: 2px 2px 11px -1px black;
     color: rgb(28, 184, 163);
     margin-bottom: 20px;
     &:hover {
       transform: scale(0.97);
     }
 


  }
}

}


//final de header


//inicio de acordion
.main-accordion-container{
 .accordion-item {
background: #654;
display: flex;
align-items: center;
justify-content: center;
border: 2px solid rgba(103, 103, 107, 0.281);
flex-direction: column;
padding: 0 10px 0 10px;


.accordion-title {
color: white;
font-family: Arial;
font-size: 20px;
width: 90%;
display: flex;
justify-content: center;
padding: 20px;
text-decoration: blanchedalmond;
text-align: center;
}
.accordion-desc {
 display: none;
 background: rgb(86, 131, 226);
 padding: 15px;
 margin-top: 15px;
 font-size:  25px;
 width: 90%;
 text-align: justify;
}

&.tab-active {
.accordion-desc{
width: 100%;
height: auto;
display: flex;
justify-content: center;
margin-left: 10px;
margin-right: 10px;


}
} 
}
}
//final de acordion

//inicio de wrp

main{
width: 100%;
display: flex;
flex-direction: column;
border: solid 2px black;
background-color: rgb(235,235,177);

.container-1{
width: 95%;
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
.container-1-img {
img{
width: 80%;
margin: auto;
display: block;
// padding: 30px;
 &:hover{
transform: skewY(1deg);
 }
}
}
.container-text-1 {
 width: 90%;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 10px;

h1{
text-align: center;

}
h2{
text-align: center;

}

p{
 text-align: justify;
 width: 90%;
 padding: 10px 0px 10px 0px;
}
}

.container-1-video-1{
padding: 10px 0px 20px 0px;

}
}
}
//final de wrap

//inicio del cards

.card-list {
   background-image: url("images/istockphoto-887479758-170667a.jpg");
   background-position-x: center;
   background-position-y: top;


 //  background-color: rgb(173, 139, 105);
 display: flex;
 justify-content: space-around;
flex-wrap: wrap;
padding-top: 20px;

.card-item{
  width: 27%;
  border-radius: 1px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 11px -1px black;
  margin-bottom: 30px;
  background-image: url("images/1.jpg");
  background-size: 90%;
  background-position-x: top;
  background-position-y: center;

  &:hover{
  transform: scale(1.03);
}
img{
  width: 100%;
max-height: 300px;
min-height: 250px;


.card-info {


display: flex;

flex-direction: column;
flex: 1 0;
justify-content: space-around;
font-size: 100px;
text-decoration: none;
text-align:center;





}

.card-title {
font-size: 18px;
font-weight: bold;
font-family: 'Helvetica';
margin-bottom: 10 px;
}

.card-desc{

 font-family: 'Helvetica';
 font-size: 14px;
}

.card-cta{
 text-decoration: none;
 display: block;
text-align: right ;
 font-family: 'helvetica';
 font-size: 20px;
 border-top: solid 1px black;
padding-top: 10px;
margin-top: 30px;


}
}
}




//fin del cardas


}
//final de cards

//inicio de footer
.footer-container {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 background: black;
 height: 120px;
 color: white;

 .footer-list {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   p{
      text-decoration: none;
      font-size: 25px;
   }
 }

 .footer-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  p {

  
   text-decoration: none;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif'';
    font-size: 20px;
   }
 }
}
//final de footer

@media(max-width: 991px) {


.menu-container {
justify-content: flex-end;
position: relative;

.hamburger-icon {
width: 35px;
height: 25px;
display: flex;
justify-content: space-between;
flex-direction: column;

span {
height: 4px;
width: 100%;
background: white;
display: block;
border-radius: 2px;

}
} 
.menu-list {
 display: none;
}
}
.menu-container.menu-open {
.menu-list{
z-index: 100;
border: 2px solid black;
width: 200px;
padding-top: 120px;
height: auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-content: left;
text-align: center;
background-color:  #654;
border-radius: 5px;
a{
padding-top: 5px;
padding-bottom: 5px;
color: black;
}
}
}
 //inicio de SubHamburger Icon
.sub-menu-container {
justify-content: flex-end;
position: relative;

.sub-hamburger-icon {
width: 35px;
height: 25px;
display: flex;
justify-content: space-between;
flex-direction: column;

span {
height: 4px;
width: 100%;
background: white;
display: block;
border-radius: 2px;

}
} 
.sub-menu-list {
 display: none;
}
}
.sub-menu-container.sub-menu-open {
.sub-menu-list{
z-index: 100;
border: 2px solid black;
width: 200px;
padding-top: 120px;
height: auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-content: left;
text-align: center;
background-color:  rgb(28, 184, 163);
border-radius: 5px;
a{
padding-top: 5px;
padding-bottom: 5px;
color: black;
}
}
}

//final de hamburguer icon

//inicio de header
 .main-header {
   height: 160px;
 .header-text {
   padding: 15px 0 0 15px  ;

   .header-page-title {
     width: 480px;
     height: 50px;
     font-size: 25px;
   }
  .header-page-description{
    width: 460px;
    height: 40px;
    font-size: 18px;
 }
}
}


//final de header




//inicio de accordion
 .main-accordion-container{
   .accordion-item {
 background: #950;
 border: 1px solid black;
 
 .accordion-title {
 color: rgb(83, 79, 79);
 width: 95%;
 padding: 15px;
 }
 .accordion-desc {
   
   background: rgb(43, 212, 224);
   width: 100%;
   font-size:  20px;
 }
 }
 }
//final del acordion

//inicio de wrp

main{
 .container-1{
 
 .container-1-img {
 img{
 width: 90%;
 margin: auto;
   }
  }
 .container-text-1 {
   width: 95%;
 }
 }
}
 //final de wrap
 
//inicio del cards
.card-list {
 background-image: url("images/background-2.jpg");

 .card-item{
 width: 45%;
 padding-bottom: 20px;
 box-shadow: 2px 2px 11px -1px rgb(255,255,255);
 margin-bottom: 30px;
 background: rgb(28, 184, 163);
 border:solid 3px white ;
 
 img{


 min-height: 200px;

 




 }

 
}
}
 //fin del cards
//inicio de footer
.footer-container {
 .footer-list {
   p{
      font-size: 18px;
   }
 }
 .footer-info{
  p {
     font-size: 15px;
   }
 }
 }
 //final de footer
 }


 @media(max-width: 700px) {

 //inicio de header
 .main-header {
   height: 175px;
   background-size: unset ;
  align-items: center;
  justify-content: center;
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-page-title {
      width: 300px;
      height: 50px;
      font-size: 15px;
      margin-bottom: 10px;
      }
      .header-page-description{
      width: 280px;
      height: 35px;
      font-size: 11px;
      }
   }
 }


//final de header




main {
 flex-direction: row;
}
.card-list {

.card-item {
img {
 margin-bottom: 5px;
max-height: 200px ;
min-height: 150px;

}
.card-info {
.card-title {
font-size: 15px;
}
.card-desc {
 font-size: 14px;
}
.card-cta {
 font-size: 16px;
 }
 }
 }
 }
//inicio de footer
.footer-container {
 background: #3c64bb;
 .footer-list {
   flex-direction: column;
   align-items:center;
   p{
      font-size: 18px;
   }
    }
 .footer-info{
  p {
     font-size: 16px;
   }
 }
}
//final de footer

}



 @media(max-width: 450px) {
 .card-list {
   background: #0820a8;

 .card-item {
  width: 90%;

  img{

  max-height: 270px;
  min-height: 200px;
  }
}
}
}

